 /* colours
  #f7f5dd emphasis 
  #fff4f4 background
  #bd8183 secondary
  #c25e67 main
*/

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  color: #252525;
  font-weight: 400;
  background-color: #fff4f4;
  border-bottom: 1.6rem solid #c25e67;
  min-height: 100vh;
  padding: 3.2rem;
  padding-bottom: 4rem;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Large: 992-1199px */
@media (max-width: 1199px) {
  .container {
      max-width: 960px;
  }
}

/* Medium: 768-991px */
@media (max-width: 991px) {
  .container {
    max-width: 720px;
  }
}

/* Small: 576-767px */
@media (max-width: 767px) {
  .container {
      max-width: 540px;
  }
}